[Desktop Entry]
Name=kylin-service-support
Name[zh_CN]= 麒麟服务与支持工具
Icon=kylin-service-support
Exec=/usr/bin/kylin-service-support %u
Type=Application
Categories=GNOME;Utility;
