[Desktop Entry]
Name=kylin-service-support
Name[zh_CN]=麒麟服务与支持工具
Name[bo_CN]=ཆི་ལིན་ཞབས་ཞུ་དང་རྒྱབ་སྐྱོར་ལག་ཆ།
GenericName=kylin-service-support
GenericName[zh_CN]=麒麟服务与支持工具
GenericName[bo_CN]=ཆི་ལིན་ཞབས་ཞུ་དང་རྒྱབ་སྐྱོར་ལག་ཆ།
Icon=kylin-service-support
Exec=/usr/bin/kylin-service-support %u
Type=Application
Categories=Utility
Comment=Tool to service Users the technology of KylinOS
Comment[zh_CN]=提供麒麟服务，技术支持的工具
Comment[bo_CN]=ཆི་ལིན་གྱི་ཞབས་ཞུ་མཁོ་འདོན་དང་།ལག་རྩལ་གྱི་རྒྱབ་སྐྱོར་བྱེད་པའི་ལག་ཆ་།
